.header, .footer {
	padding: 20px 0;
}

.footer {
	margin: 20px 0 0 0;
}

.inner {
	width: 600px;
	margin: 0px auto 0px auto;
}

.divide_simple {
	width:200px;
	border-top: 1px solid #000;
}

.post_listing
{
	font: 400 18px/30px ;
	width: 600px;
	margin: 0 auto 0px auto;
}

.post_listing h2
{
	font: 700 48px/48px;
	margin: 30px 0 20px 0;
}

.post_stub
{
	padding: 10px 0 5px 0;
}

.post_stub a 
{
	font: 400 18px/22px;
	color: #2A2C39;
	text-decoration: none;
}

.post_stub a:hover
{
	color: #666666;
}

.post {
	width: 600px;
	margin: 0 auto;
}

/* "responsive" stuff
*/

@media only screen and (max-width: 600px) {

	.post_listing
	{
		width: 100%;
		margin: 5%;
	}

	.post_stub a
	{
		font-size: 14px;
	}

	.post_listing h1
	{
		margin: 0px 0 0px 0;
	}

	.post
	{
		width: 80%;
		padding: 10%;
		left: 0;
		margin-left: 0;
	}

	.footer, .header 
	{
		width: 100%;
		margin:5%;
		padding: 0;
	}
	.inner 
	{
		width: 100%;
	}
}