<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/normalize.min.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/style.css">

</head>
<body>

<div class="header"><div class="inner">
    <h1>Credit Card Benefits Guide</h1>
    <div class="divide_simple"></div>
</div></div>

{{ content }}

<div class="footer"><div class="inner">
    <div class="divide_simple"></div>
    <p>All information has been crowd-sourced. </p>
    <p><a href="">Contribute on GitHub!</a></p>
</div></div>
</body>
</html>